body{
    margin : 0;
    padding: 0;
    background : #c5b358;
    background-size: cover;
    background-position: center;
    font-family : sans-serif;
}
.class_table table{
    border-collapse: collapse;
}
table td{
    padding : 10px;
    border: 1px solid #000;
}
.loginbox {
    width : 320px;
    height : 420px;
    top: 50%;
    left: 50%;
    position : absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
}

h1{
    margin : 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 10px;
}
.loginbox input[type="text"],input[type="password"]{

    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;

}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type ="submit"]:hover{
    cursor : pointer;
    background: #000;
    color:#fff;
}